.wrapper.landing  
  .hero.cf
    .text_container
      h1.whatup want to improve yourself?
      hr
      h2.whatup_sub
        | with <span class="title">self</span> you can visualize your life
      h2.whatup_sub.last
        a(href="#/signup").signup.highlight join
