extends layout

block body
  nav.top-bar(ng-controller="LoginCtrl")
    ul.title-area
      li.name
        h1
          a(href="#").title self
      li.toggle-topbar.menu-icon
        a(href="#")
          span Menu
    section.top-bar-section
      ul.right
        li
          a(href="#/about").about about
        li
          a(href="#/login").login login
        li
          a(href="/logout").logout logout

  div(ng-view).page_container
  
  // check for zepto support
  script(type="text/javascript") document.write('<script src=../components/foundation/js/vendor/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>');
  script(src="../components/foundation/js/foundation/foundation.js")
  script(src="../components/foundation/js/foundation/foundation.topbar.js")
  script(src="../components/angular/angular.js")
  script(src="../scripts/app.js")
  script(src="../scripts/init.js")
  script(src="../scripts/controllers/login.js")
  script(src="../scripts/controllers/landing.js")
  script(src="../scripts/controllers/signup.js")
  script(src="../scripts/controllers/app/profile.js")
  script(src="../scripts/controllers/app/feed.js")
  script(src="../scripts/directives/passwordValidate.js")
  script(src-"../scripts/directives/sameAs.js")

  